@using System.Globalization
@model AliceApi.Areas.MvcMembership.Models.UserAdministration.DetailsViewModel
@{
	ViewBag.Title = "User Details: " + Model.DisplayName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href='@Url.Content("~/Areas/MvcMembership/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />
<div class="title">
    <h1>Membership</h1>
    <h2>User Details</h2>
</div>*@

<h2>User Administration<br/>
<small>User Details: @Model.DisplayName [@Model.Status]</small></h2>

<ul class="list-inline">
	<li>Details</li>
	<li>@Html.ActionLink("Password", "Password", "UserAdministration", new { id = Model.User.Id }, null)</li>
	@if(Model.IsRolesEnabled){
	<li>@Html.ActionLink("Roles", "UsersRoles", "UserAdministration", new { id = Model.User.Id }, null)</li>
	}
</ul>

<h3>Account</h3>
<div>
	<dl>
		<dt>User Name:</dt>
			<dd>@Model.User.UserName</dd>
		<dt>Email Address:</dt>
			<dd><a href="mailto:@Model.User.Email">@Model.User.Email</a></dd>
		@*@if(Model.User.LastActivityDate == Model.User.CreationDate){
		<dt>Last Active:</dt>
			<dd><em>Never</em></dd>
		<dt>Last Login:</dt>
			<dd><em>Never</em></dd>
		}else{
		<dt>Last Active:</dt>
			<dd>@Model.User.LastActivityDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>
		<dt>Last Login:</dt>
			<dd>@Model.User.LastLoginDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>
		}
		<dt>Created:</dt>
			<dd>@Model.User.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>*@
	</dl>

	@using(Html.BeginForm("ChangeApproval", "UserAdministration", new{ id = Model.User.Id })){
		@Html.Hidden("isApproved", !Model.User.LockoutEnabled)
		<input type="submit" value='@(Model.User.LockoutEnabled ? "Unapprove" : "Approve") Account' />
	}
	@using(Html.BeginForm("DeleteUser", "UserAdministration", new{ id = Model.User.Id })){
		<input type="submit" value="Delete Account" />
	}
</div>

<h3>Email Address & Comments</h3>
<div>
	@using(Html.BeginForm("Details", "UserAdministration", new{ id = Model.User.Id })){
	<fieldset>
		<p>
			<label for="email">Email Address:</label>
			@Html.TextBox("email", Model.User.Email)
		</p>
		@*<p>
			<label for="comments">Comments:</label>
			@Html.TextArea("comments", Model.User.Comment)
		</p>*@
		<input type="submit" value="Save Email Address and Comments" />
	</fieldset>
	}
</div>
